
/* ARTICLE */

article {

}

/* HEADER */
header {
	background-color: #eee;
	margin-bottom: 15px;
}

header p {
	padding-left: 30px;
	line-height: 70px;
	height: 70px;
	font-size: 25px;
	margin: 0px;
	float: left;
}

header nav {
	width: 50%;
	float: right;
	/* background-color: green; */

}

nav ul {
	list-style: none;
}

nav li {
	/* background-color: white; */
	height: 70px;
	width: 90px;
	line-height: 70px;
	float: left;
	margin: 0px 15px;
	text-align: center;
	/* padding: 0px 15px; */
}

/* SECTION */

section {
	min-height: 150px;
}

.name-heading {
	text-align: center;
	padding: 30px 40px;

}

.name-heading h1 {
	font-size: 50px;
	margin-top: 10px;
}

/* NAV */

/* nav {
	margin-bottom: 20px;
}

nav ul {
	list-style: none;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	margin-bottom: 0;
}

nav li {
	display: inline-block;
	line-height: 60px;
	padding: 0px 20px;
	display: inline-block;
	width: 24.5%;
	text-align: center;
	height: 60px;

}
*/

/* CONTENT */

.content-box {
	width: 80%;
	margin-top: 20px;
}

aside {
	float: right;
	width: 200px;
	height: 300px;
	background-color: #eee;
	text-align: center;
	border-radius: 10px;
}

/* FOOTER */

footer {
	margin-top: 30px;
	clear: both;
}

/* MISCELLANEOUS STUFF */

.mycenter {
	position: relative;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%); 
}