/* HTML */
html {
	background-color: #B4AEA1;
}

/* ARTICLE */
article {
	background-color: #B4AEA1;
}

/* HEADER */
header {
	margin-bottom: 15px;
	background-color: rgba(27,22,14,.9);
}

header p {
	padding-left: 50px;
	line-height: 70px;
	height: 70px;
	margin: 0px;
	float: left;
	font-family: 'Titillium Web', sans-serif;
	font-size: 25px;
	color: white;

}

/* NAV */
nav {
	width: 50%;
	float: right;
}

nav ul {
	list-style: none;
}

nav li {
	height: 70px;
	width: 90px;
	line-height: 70px;
	float: left;
	margin: 0px 15px;
	text-align: center;
}

nav .nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

nav .nav > li {
  position: relative;
  display: block;
}

nav .nav > li > a {
  position: relative;
  display: block;
  padding: 0px 15px;
}

nav .nav > li > a:hover,
nav .nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}

/* SECTION */
section {
	min-height: 200px;
	background-image: url("../images/cool-background.jpg");
	background-size: 100%;
	margin-top: -15px;
	margin-bottom: 10px;
}

.name-heading {
	text-align: center;
	padding: 40px 150px 30px;
	color: white;
	-webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.name-heading h1 {
	margin-top: 10px;
	font-size: 50px;
	color: white;

}

/* CONTENT */
.content {

}

.content-box {
	width: 80%;
	margin-top: 20px;
	color: white;
}

aside {
	float: right;
	width: 200px;
	height: 300px;
	padding: 5px;
	background-color: #eee;
	text-align: center;
	border-radius: 10px;
}

/* FOOTER */
footer {
	padding-top: 30px;
	clear: both;
	background-color: #B4AEA1;
}

/* MISCELLANEOUS STUFF */
a {
	color: white;
}
